**/.gradle
**/build
**/out
**/*.xdb
*.iml
*.ipr
*.iws
!/.idea/copyright
!/.idea/codeStyles
/.idea/dictionaries
/.idea/inspectionProfiles
/.idea/libraries
/.idea/caches
/.idea/markdown-navigator
/.idea/modules
/.idea/*.xml
!/.idea/saveactions_settings.xml
!/.idea/templateLanguages.xml
/.idea/.name