[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
validators = "*"
waitress = "*"
flask-mongoengine = "*"
bcrypt = "*"
Flask = "*"
Flask-Login = "*"

[dev-packages]

[requires]
python_version = "3.7"
