<html>

<head>

	<meta charset="utf-8" />
	<title>dogbin</title>
	<link rel="shortcut icon" href="static/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="static/dracula.css" />
	<link rel="stylesheet" type="text/css" href="static/application.css" />

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
	<script type="text/javascript" src="static/application.min.js"></script>

	<script type="text/javascript">
		var app = null;
		// Handle pops
		var handlePop = function (evt) {
			var path = evt.target.location.pathname;
			if (path === '/') { app.newDocument(true); }
			else { app.loadDocument(path.substring(1, path.length)); }
		};
		// Set up the pop state to handle loads, skipping the first load
		// to make chrome behave like others:
		// http://code.google.com/p/chromium/issues/detail?id=63040
		setTimeout(function () {
			window.onpopstate = function (evt) {
				try { handlePop(evt); } catch (err) { /* not loaded yet */ }
			};
		}, 1000);
		// Construct app and load initial path
		$(function () {
			app = new haste('dogbin', { twitter: true });
			handlePop({ target: window });
		});
	</script>

	<meta property="og:title" content="dogbin" />
	<meta property="og:description" content="The prettiest, easiest to use pastebin ever made." />
	<meta property="og:image" content="https://del.dog/doggo.jpg" />
</head>

<body>
	<ul id="messages" class="unselectable"></ul>

	<div id="key" class="unselectable">
		<div id="pointer" style="display:none;"></div>
		<div id="box1">
			<a href="/about.md" class="logo"></a>
		</div>
		<div id="box2">
			<button class="save function button-picture">Save</button>
			<button class="new function button-picture">New</button>
			<button class="duplicate function button-picture">Duplicate & Edit</button>
			<button class="raw function button-picture">Just Text</button>
			<button class="twitter function button-picture">Twitter</button>
		</div>
		<div id="box3" style="display:none;">
			<div class="label"></div>
			<div class="shortcut"></div>
		</div>
	</div>

	<div id="linenos" class="unselectable"></div>
	<pre id="box" style="display:none;" class="hljs" tabindex="0"><code></code></pre>
	<textarea spellcheck="false" style="display:none;" placeholder="Paste, save, share! (Pasting just an URL will shorten it!)"></textarea>

</body>

</html>