<html>

<head>

	<meta charset="utf-8" />
	<title>{{ title }}</title>
	<link rel="shortcut icon" href="static/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="static/application.css" />

	{% if content %}
		<link rel="stylesheet" type="text/css" href="static/dracula.css" />
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
	{% endif %}

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<script type="text/javascript" src="static/application.js"></script>
	<script type="text/javascript">
		// Construct app and load initial path
		$(function () {
			var app = new haste();
		});
	</script>

	<meta property="og:title" content="{{ title }}" />
	{% if content %}
		<meta property="og:description" content="{{ content[0:100] }}" />
	{% else %}
		<meta property="og:description" content="The prettiest, easiest to use pastebin ever made." />
	{% endif %}
	<meta property="og:image" content="https://del.dog/doggo.jpg" />
</head>

<body>
	<ul id="messages" class="unselectable"></ul>

	<div id="key" class="unselectable">
		<div id="pointer" style="display:none;"></div>
		<div id="box1">
			<a href="/about.md" class="logo"></a>
		</div>
		<div id="box2">
			<button class="save function button-picture {% if not content %} enabled {% endif %}">Save</button>
			<button class="new function button-picture enabled">New</button>
			<button class="duplicate function button-picture {% if content %} enabled {% endif %}">Duplicate &amp; Edit</button>
			<button class="raw function button-picture {% if content %} enabled {% endif %}">Just Text</button>
			<button class="twitter function button-picture {% if content %} enabled {% endif %}">Twitter</button>
		</div>
		<div id="box3" style="display:none;">
			<div class="label"></div>
			<div class="shortcut"></div>
		</div>
	</div>
	<div id="linenos" class="unselectable">
		{% if lines %}
			{% for n in range(1, lines + 1) %}
				<a href="#L{{ n }}" id="L{{ n }}">{{ n }}</a><br/>
			{% endfor %}
		{% else %}>{% endif %}
	</div>
	{% if content %}
		<pre id="box" tabindex="0"><code class="hljs {{ lang }}">{{ content }}</code></pre>
	{% else %}
		<textarea spellcheck="false" placeholder="Paste, save, share! (Pasting just an URL will shorten it!)">{{ initialValue }}</textarea>
	{% endif %}
</body>

</html>