name: CI
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v1

      - name: Setup docker
        uses: docker-practice/actions-setup-docker@0.0.1

      - name: Build and push images
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
          docker image build -t dogbin/dogbin .
          docker push dogbin/dogbin:latest
          docker image build -t dogbin/highlighter microservices/highlighter/
          docker push dogbin/highlighter:latest
          docker image build -t dogbin/screenshotter microservices/screenshotter/
          docker push dogbin/screenshotter:latest